.scheduleCSS {
    width: 80%;
    margin: 0 auto;
    /* height: 500px; */
    border: 1px solid #000;
}

.schedule__header {
    margin: 0 24px;
    display: flex;
}

.schedule__header-button {
    width: 40px;
    height: 40px;
    font-size: 50px;
}

.schedule__student {
    border-bottom: 1px solid red;
    margin: 0 24px;
}

.schedule__contents {
    margin: 0 24px;
    
}

.schedule__contents-name {
    text-align: center;
}